In [144]:
from pandas import DataFrame
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
plt.style.use('classic')
%matplotlib inline
import seaborn as sns
from pylab import rcParams

In [145]:
# load Accusition data 

dfAcq = pd.read_table('/Users/meganpolak/Downloads/2016Q1/Acquisition_2016Q1.txt', names=( 'LOAN_ID','ORIG_CHN', 'Seller_Name', 'ORIG_RT','ORIG_AMT','ORIG_TRM','ORIG_DTE','FRST_DTE','OLTV','OCLTV','NUM_BO','DTI','CSCORE_B','FTHB_FLG','PURPOSE','PROP_TYP','NUM_UNIT','OCC_STATE','ZIP_3','MI_PCT','PRODUCT_TYPE','SCORE_C','MI_TYPE','RELOCATION_FLAG'),sep="|", index_col=False,infer_datetime_format=True )

In [146]:
# drop all unnecessary columns 
df=dfAcq.drop(['RELOCATION_FLAG','PRODUCT_TYPE','MI_TYPE','MI_PCT','OCLTV','SCORE_C','FTHB_FLG', 'PURPOSE','ORIG_DTE','FRST_DTE','ORIG_CHN','Seller_Name'], axis=1)
# set Loan id as index 
df.set_index('LOAN_ID')

,ORIG_RT,ORIG_AMT,ORIG_TRM,OLTV,NUM_BO,DTI,CSCORE_B,PROP_TYP,NUM_UNIT,OCC_STATE,ZIP_3
LOAN_ID,,,,,,,,,,,
100000512540,3.750,65000,360,74,1,31.0,814.0,SF,1,P,GA
100000549022,4.000,153000,360,95,2,17.0,788.0,SF,1,P,KS
100003006281,3.625,114000,360,95,2,37.0,745.0,SF,1,P,IL
100003784303,3.875,150000,360,70,2,16.0,810.0,PU,1,P,IN
100004643080,4.250,40000,360,24,2,36.0,755.0,PU,1,P,TX
100005507460,4.000,225000,360,53,2,21.0,758.0,SF,1,P,UT
100007473914,4.000,104000,360,80,2,13.0,705.0,SF,1,P,MO
100009919815,4.000,134000,360,80,2,33.0,733.0,SF,1,P,IA
100010182021,4.000,120000,360,42,1,38.0,794.0,SF,1,P,OR
100011954065,3.875,283000,360,80,2,24.0,813.0,SF,1,P,IL
100012659753,4.000,360000,360,71,2,24.0,747.0,SF,1,P,DE
100013653760,3.875,256000,360,85,2,42.0,786.0,PU,1,P,TX
100022416224,4.375,328000,360,95,2,26.0,721.0,SF,1,P,CA
100030938193,3.375,40000,120,18,2,8.0,808.0,SF,1,P,MI
100032277379,3.750,417000,360,55,2,15.0,784.0,PU,1,P,KY
100034068783,3.625,307000,360,80,1,21.0,788.0,PU,1,P,MO
100034133727,4.500,287000,360,78,2,40.0,706.0,SF,1,P,CA
100034218607,3.125,180000,180,58,1,25.0,786.0,SF,1,P,CO
100036584533,3.750,450000,360,67,2,44.0,737.0,SF,1,P,NY
100037524316,4.625,361000,360,95,1,41.0,667.0,CO,1,P,CA
100037635725,3.000,356000,180,77,2,37.0,744.0,PU,1,P,IN
100039954965,3.875,203000,300,53,2,18.0,786.0,SF,1,P,PA
100040810503,4.000,104000,360,80,1,43.0,817.0,SF,1,S,WI
100041383368,3.500,390000,240,74,2,20.0,801.0,SF,1,P,NY
100043897003,3.875,244000,360,80,2,23.0,775.0,SF,1,P,WA
100043926189,5.000,173000,360,75,2,35.0,632.0,SF,1,I,VA
100044633567,4.125,274000,360,95,1,42.0,811.0,PU,1,P,AZ
100044680846,5.000,49000,360,75,2,41.0,693.0,SF,1,I,MD
100046340428,3.875,308000,360,80,1,32.0,774.0,SF,1,P,TN
100047818346,4.000,243000,360,90,1,35.0,808.0,CO,1,P,MA
...,...,...,...,...,...,...,...,...,...,...,...
999923215644,4.125,340000,360,85,1,42.0,787.0,PU,1,P,VA
999923352338,3.875,150000,360,89,1,34.0,763.0,CO,1,P,OR
999924560699,4.125,184000,360,79,2,20.0,726.0,PU,1,P,AZ
999925289119,3.400,155000,180,35,1,40.0,816.0,PU,1,P,FL
999925913902,4.500,33000,240,95,1,42.0,666.0,SF,1,P,OH
999935210552,3.250,510000,180,72,2,25.0,735.0,SF,1,P,MD
999938184231,4.000,116000,360,95,1,37.0,797.0,PU,1,P,NY
999939166522,4.750,340000,360,97,1,39.0,702.0,SF,1,P,NJ
999940869230,2.750,54000,180,80,2,23.0,682.0,SF,1,P,IL
999941050388,4.875,92000,360,80,1,30.0,792.0,SF,1,I,VA
999941820140,3.125,135000,120,45,1,37.0,734.0,SF,1,P,CA
999946481838,3.875,175000,360,95,1,32.0,803.0,SF,1,P,ID
999950648609,4.250,270000,360,95,2,26.0,755.0,SF,1,P,UT
999952923887,4.125,302000,360,80,2,18.0,804.0,SF,1,P,FL
999953728624,3.875,309000,360,94,2,34.0,778.0,SF,1,P,NY
999954219596,3.125,148000,180,59,2,42.0,756.0,SF,1,P,WA
999957316453,3.625,180000,180,79,2,45.0,703.0,SF,1,P,NY
999959558005,4.250,178000,340,75,1,26.0,822.0,CO,1,P,PA
999966641979,4.250,124000,180,80,2,36.0,732.0,SF,1,P,KY
999969216013,3.625,417000,360,46,2,14.0,809.0,SF,1,P,CA
999978743737,4.500,157000,360,85,2,39.0,708.0,PU,1,P,OH
999979982534,4.250,201000,360,89,1,41.0,716.0,SF,1,P,MI
999981688908,4.250,140000,360,90,1,38.0,729.0,CO,1,P,NV
999983124397,4.625,101000,360,75,2,31.0,751.0,PU,1,I,IN
999983515120,4.500,218000,360,50,2,40.0,760.0,SF,1,P,WA
999985119166,3.750,365000,360,90,1,40.0,790.0,SF,1,S,NJ
999988469950,4.500,189000,360,75,1,31.0,763.0,CO,1,I,CA
999992418879,4.125,291000,360,95,2,41.0,726.0,SF,1,P,NE
999992428316,4.625,186000,360,70,1,22.0,762.0,SF,1,I,PA
999992548116,3.500,245000,360,68,1,20.0,747.0,SF,1,P,CA

In [226]:
# fill na with mean in df 
df=df.fillna(df.mean())

In [227]:
df.isnull().sum()

LOAN_ID      0
ORIG_RT      0
ORIG_AMT     0
ORIG_TRM     0
OLTV         0
NUM_BO       0
DTI          0
CSCORE_B     0
PROP_TYP     0
NUM_UNIT     0
OCC_STATE    0
ZIP_3        0
dtype: int64

In [152]:
# loan Performance data 
dfPerf= pd.read_table('/Users/meganpolak/Downloads/2016Q1/Performance_2016Q1.txt', names=('LOAN_ID','Monthly_Rpt_Prd','Servicer_Name','LAST_RT','LAST_UBP','Loan_Age','Month_To_Legal_Mat','Adj_Month_To_Mat','Maturity_Date','MSA','Delq_Status','MOD_FLAG','Zero_Bal_Code','ZB_DTE','LPI_DTE','FCC_DTE','DISP_DT','FCC_COST','PP_COST','AR_COST','IE_COST','TAX_COST','NS_PROCES','CE_PROCES','RMW_PROCES','O_PROCESS','NON_INT_UPB','PRIN_FORG_UPB','REPCH_FLAG','PRIN_FORG_UPB_OTH','TRANSFER_FLG'),dtype={'CSCORE_B':np.int32},sep="|",low_memory=False)

In [153]:
# drop Performance unnecessary columns 
df1=dfPerf.drop(['Servicer_Name','Monthly_Rpt_Prd','Adj_Month_To_Mat','NON_INT_UPB','TAX_COST','LAST_RT','LAST_UBP','TRANSFER_FLG','ZB_DTE','LPI_DTE','FCC_DTE','DISP_DT','IE_COST','NS_PROCES','NS_PROCES','CE_PROCES','RMW_PROCES','REPCH_FLAG','O_PROCESS','PRIN_FORG_UPB','Zero_Bal_Code','PRIN_FORG_UPB_OTH',
             'FCC_COST','PP_COST','AR_COST'], axis=1)

In [154]:
 # check for null values in the df1 dataset 
df1.isnull().sum()

LOAN_ID                0
Loan_Age               0
Month_To_Legal_Mat     0
Maturity_Date          0
MSA                    0
Delq_Status           96
MOD_FLAG               0
dtype: int64

In [222]:
# combine two data frames on loan id 
DF = pd.merge(df, df1, on=['LOAN_ID', 'LOAN_ID'])

# drop duplicates in the data frame 
DF=DF.drop_duplicates('LOAN_ID')

DF.head()

,LOAN_ID,ORIG_RT,ORIG_AMT,ORIG_TRM,OLTV,NUM_BO,DTI,CSCORE_B,PROP_TYP,NUM_UNIT,OCC_STATE,ZIP_3,Loan_Age,Month_To_Legal_Mat,Maturity_Date,MSA,Delq_Status,MOD_FLAG
0,100000512540,3.750,65000,360,74,1,31.0,814.0,SF,1,P,GA,1,359,01/2046,12260,0,N
26,100000549022,4.000,153000,360,95,2,17.0,788.0,SF,1,P,KS,1,359,02/2046,48620,0,N
51,100003006281,3.625,114000,360,95,2,37.0,745.0,SF,1,P,IL,-1,361,04/2046,0,0,N
76,100003784303,3.875,150000,360,70,2,16.0,810.0,PU,1,P,IN,-1,361,04/2046,31140,0,N
101,100004643080,4.250,40000,360,24,2,36.0,755.0,PU,1,P,TX,0,360,01/2046,26420,0,N

In [221]:
#people that currently are not deliquesnt or less then 30 day and their loan age is more then 12 months
non_deliquent=DF[(DF['Delq_Status'] == '0') & (DF['Loan_Age'] <24)]

non_deliquent.describe()

,LOAN_ID,ORIG_RT,ORIG_AMT,ORIG_TRM,OLTV,NUM_BO,DTI,CSCORE_B,NUM_UNIT,Loan_Age,Month_To_Legal_Mat,MSA
count,4.043000e+05,404300.000000,4.043000e+05,404300.000000,404300.000000,404300.000000,404300.000000,404300.000000,404300.000000,404300.00000,404300.000000,404300.000000
mean,5.494422e+11,4.034421,2.264778e+05,317.040838,74.029122,1.496097,33.582337,751.424977,1.030094,0.21044,316.830398,27977.595424
std,2.598999e+11,0.464740,1.173343e+05,76.532325,16.829522,0.515832,8.897640,49.216374,0.232734,1.09945,76.555641,13456.454952
min,1.000005e+11,2.250000,8.000000e+03,60.000000,3.000000,1.000000,1.000000,33.583395,1.000000,-1.00000,60.000000,0.000000
25%,3.244171e+11,3.750000,1.350000e+05,300.000000,66.000000,1.000000,27.000000,718.000000,1.000000,0.00000,301.000000,17460.000000
50%,5.491086e+11,4.050000,2.060000e+05,360.000000,79.000000,1.000000,35.000000,762.000000,1.000000,0.00000,360.000000,31080.000000
75%,7.748677e+11,4.375000,3.000000e+05,360.000000,85.000000,2.000000,41.000000,791.000000,1.000000,1.00000,360.000000,39300.000000
max,9.999925e+11,6.000000,1.203000e+06,360.000000,97.000000,6.000000,51.000000,839.000000,4.000000,23.00000,361.000000,49740.000000

In [219]:
# non deliquent propery type 
non_delifuent.PROP_TYP.value_counts()

SF    37
PU    15
CO     6
Name: PROP_TYP, dtype: int64

In [220]:
#people that are deliquent more then 30 days and haev loan less then 12 months 
delifuent=DF[(DF['Delq_Status'] !='0') & (DF['Loan_Age'] <24)]
delifuent.describe()

,LOAN_ID,ORIG_RT,ORIG_AMT,ORIG_TRM,OLTV,NUM_BO,DTI,CSCORE_B,NUM_UNIT,Loan_Age,Month_To_Legal_Mat,MSA
count,2.870000e+02,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000,287.000000
mean,5.221411e+11,4.102878,256125.435540,324.006969,74.536585,1.421603,35.132404,741.275261,1.048780,1.522648,322.484321,28390.313589
std,2.551262e+11,0.534220,136918.171217,72.253729,16.735224,0.494678,8.597237,51.672830,0.273011,1.167154,72.300937,12765.257903
min,1.022871e+11,2.750000,39000.000000,120.000000,18.000000,1.000000,1.000000,620.000000,1.000000,1.000000,117.000000,0.000000
25%,2.898788e+11,3.875000,148000.000000,360.000000,67.500000,1.000000,29.000000,703.000000,1.000000,1.000000,357.000000,17660.000000
50%,5.170472e+11,4.125000,238000.000000,360.000000,80.000000,1.000000,37.000000,750.000000,1.000000,1.000000,359.000000,31080.000000
75%,7.330016e+11,4.500000,346500.000000,360.000000,85.000000,2.000000,42.000000,783.500000,1.000000,2.000000,359.000000,38940.000000
max,9.786322e+11,5.375000,661000.000000,360.000000,97.000000,2.000000,49.000000,822.000000,4.000000,10.000000,359.000000,49340.000000

In [217]:
#deliquent property types 
delifuent.PROP_TYP.value_counts()

SF    180
PU     72
CO     27
CP      6
MH      2
Name: PROP_TYP, dtype: int64

In [171]:

columns_to_show=['Loan_Age','Delq_Status']
columns_to_show
DF.groupby(['Delq_Status'])[columns_to_show].describe()

              Loan_Age
                 count       mean       std   min    25%   50%    75%   max
Delq_Status
0            9465030.0  12.174353  7.571300  -1.0   6.00  12.0  19.00  53.0
1              49618.0  14.962614  7.018777   1.0  10.00  16.0  21.00  35.0
10               311.0  19.803859  4.298925  10.0  16.00  20.0  23.00  30.0
11               246.0  20.077236  3.785867  11.0  17.00  20.5  23.00  30.0
12               181.0  20.524862  3.600261  12.0  18.00  21.0  23.00  28.0
13               133.0  20.879699  3.524885  13.0  18.00  21.0  24.00  27.0
14                99.0  21.232323  3.203405  15.0  19.00  21.0  24.00  27.0
15                81.0  21.666667  3.082207  16.0  19.00  21.0  25.00  28.0
16                57.0  21.771930  2.738727  17.0  20.00  22.0  24.00  28.0
17                39.0  21.820513  2.162744  18.0  20.00  22.0  23.00  27.0
18                41.0  22.951220  2.120745  19.0  22.00  23.0  24.00  28.0
19                25.0  23.560000  2.218859  20.0  22.00  23.0  25.00  29.0
2               9522.0  17.748792  6.164764   2.0  14.00  20.0  22.00  34.0
20                16.0  23.687500  1.579821  21.0  22.75  24.0  24.25  27.0
21                12.0  24.333333  1.614330  22.0  23.00  24.0  25.00  28.0
22                 8.0  24.500000  0.925820  23.0  24.00  24.5  25.00  26.0
23                 6.0  25.333333  1.032796  24.0  25.00  25.0  25.75  27.0
24                 5.0  26.000000  0.707107  25.0  26.00  26.0  26.00  27.0
25                 1.0  26.000000       NaN  26.0  26.00  26.0  26.00  26.0
3               5002.0  19.293083  5.689745   3.0  16.00  21.0  23.00  35.0
4               3117.0  19.909849  5.610761   4.0  17.00  22.0  24.00  36.0
5               2136.0  19.893258  5.440660   5.0  16.00  22.0  24.00  36.0
6               1386.0  19.772727  5.367196   6.0  16.00  21.0  24.00  37.0
7                853.0  19.155920  5.181706   7.0  15.00  20.0  24.00  38.0
8                563.0  19.396092  4.762074   8.0  16.00  20.0  23.00  30.0
9                418.0  19.564593  4.532525   9.0  16.00  20.0  23.00  29.0
X              75529.0  13.492129  6.788484   0.0   7.00  13.0  19.00  39.0

In [223]:
# count of deliqent per category 
DF.Delq_Status.value_counts()

0    404301
1       284
2         3
Name: Delq_Status, dtype: int64